# Node modules
**/node_modules/

# Output directories
server/dist/
*.tsbuildinfo

# Logs
*.log

# Environment variables
**/.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Other
.npm/
render.yaml